.expires {
  select {width:100px;}
}
h2 {
  text-align: center;
}
.payment-form {
  padding: 20px;
  background: #ccc;
  border: 2px solid #aaa;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}
.errors {
  color: red;
}
